.container {
  padding: 0px;
  max-width: 400px;
  margin: auto;
  background-color: white;
  border: 2px solid rgb(115, 115, 194);
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-group {
  margin-bottom: 14px;
}

.h2 {
  background-color: #007BFF; 
  color: white; 
  padding: 13px;
  text-align: center; 
  margin: 0; 
  border-radius: 3px 3px 0 0; 
  font-size: 15px;
  margin-bottom: 14px;
}

.button {
  width: 35%;
  padding: 10px 20px;
  background-color: #246328;
  color: white;
  border-color:#246328;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;  
  font-size: 15px;

}

.button-voltar {
  width: 23%;
  padding: 8px 16px;
  background-color: #ffc60c;
  color: white;
  border-color: #e4b600;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 153px;
  margin-bottom: 14px;
  margin-left: 7px;
  font-size: 13px;
}

.label {
  margin-bottom: 3px;
  margin-left: 15px;
  font-size: 14px;
  color: #333;
  border:none;
}

.input,
.select {
  margin: 8px 10px; /* Distância das bordas internas */
  background-color: white;
  color: black;
  padding: 12px;
  width: calc(100% - 20px); /* Garante que o tamanho respeite o espaço */
  border: solid 2px #004c9c;
  border-radius: 5px;
  box-sizing: border-box;
}

.select option {
  color: black; 
  background-color: white; 
}
